<!DOCTYPE html>
<html>

<head>
    {{#with page}}
    <title>
        Dashboard page
    </title>
    {{/with}}

    <meta charset='utf-8' />

    <link rel="apple-touch-icon" sizes="180x180" href="/fav/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/fav/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/fav/favicon-16x16.png">
    <link rel="manifest" href="/fav/site.webmanifest">
    <link rel="mask-icon" href="/fav/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#9f00a7">
    <meta name="theme-color" content="#ffffff">
    <meta name='viewport'
        content='viewport-fit=cover, width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no' />
    <link href='css/normalize.css' rel='stylesheet' />
    <link href='css/dashboard.css' rel='stylesheet' />
    {{!--
    <meta name="viewport"
        content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0 user-scalable=no"> --}}
</head>

<body>

    <div class="page page--dashboard">
        <aside class="page__aside aside vertical vertical--big">
            <div class="text aside__logo">
                Sidebar
            </div>
            <nav class="vertical vertical--small"><a href="#" class="nav-button nav-button--active click">
                    <span class="icon nav-button__icon" style="background-image: url('/svg/nav/home.svg')"></span>
                    <span class="text text--light">Home</span>
                </a>
                <a href='#' class='nav-button click'>
                    <span class='icon nav-button__icon'
                        style="background-image: url('/svg/dashboard/sidebar/orders.svg')"></span>
                    <span class='text text--light'>Orders</span>
                </a>
                <a href='#' class='nav-button click'>
                    <span class='icon nav-button__icon'
                        style="background-image: url('/svg/dashboard/sidebar/products.svg')"></span>
                    <span class='text text--light'>Products</span>
                </a>
            </nav>
        </aside>
        <header class="header">
            <div class="layout header__content text--small">
                <div class="header__search relative">
                    <input type="text" placeholder="Search" class='field field--header'>
                    <span class="icon header__icon-search"
                        style="background-image: url('/svg/header/search.svg')"></span>
                    <span class="icon icon--header-settings icon--button icon--color-blue click"
                        style="background-image: url('/svg/header/settings.svg')"></span>
                </div>
            </div>
        </header>
        <main class="main">
            <div class="layout">
                <section class="box analytic__block">
                    <div class="analytic analytic--double analytic--purple">

                        <span class="icon analytic__button icon--button icon--color-purple click"
                            style="background-image: url('/svg/analytic/earning.svg')"></span>
                        <div class="relative vertical vertical--small">
                            <div class="analytic__title text text--light">$500.00</div>
                            <div class="text text--small text--gray">Total Earning</div>
                        </div>
                    </div>

                    <div class="analytic analytic--double analytic--blue">

                        <span class="icon analytic__button icon--button icon--color-blue click"
                            style="background-image: url('/svg/analytic/order.svg')"></span>
                        <div class="relative vertical vertical--small">
                            <div class="analytic__title text text--light">$961</div>
                            <div class="text text--small text--gray">Total Order</div>
                        </div>
                    </div>
                    <div style="display: flex;">
                        <div class="analytic analytic--double analytic--blue">
                            <span class="icon analytic__button icon--button icon--color-blue click"
                                style="background-image: url('/svg/analytic/earning.svg')"></span>
                            <div class="relative vertical vertical--small">
                                <div class="analytic__title text text--light">$203k</div>
                                <div class="text text--small text--gray">Total Income</div>
                            </div>
                        </div>
                    </div>

                    <div style="display: flex;">
                        <div class="analytic analytic--double analytic--blue">
                            <span class="icon analytic__button icon--button icon--color-blue click"
                                style="background-image: url('/svg/analytic/earning.svg')"></span>
                            <div class="relative vertical vertical--small">
                                <div class="analytic__title text text--light">$203k</div>
                                <div class="text text--small text--gray">Total Income</div>
                            </div>
                        </div>
                    </div>
                </section>
                <div class='header__options'>
                    <div class="col-12">
                        <div class="form-label">
                            Payment
                        </div>
                        <hr>
                        <div class="form-check">
                            <label class="form-check-label">Credit card</label>
                            <input name="payment" type="radio" class="form-check-input">
                        </div>
                        <div class="form-check">
                            <label class="form-check-label">Debit card</label>
                            <input name="payment" type="radio" class="form-check-input">
                        </div>
                        <div class="form-check">
                            <label class="form-check-label">PayPal</label>
                            <input name="payment" type="radio" class="form-check-input">
                        </div>
                    </div>
                </div>

            </div>

        </main>
    </div>

</body>

</html>