@import '/css/var.css';
@font-face {
  font-family: 'Segment-Regular';
  src: url('/font/Segment-Regular.otf');
  font-weight: 400;
}
@font-face {
  font-family: 'Segment-Regular';
  src: url('/font/Segment-SemiBold.otf');
  font-weight: 600;
}
@layer normalize, main, component, style;

@keyframes fly {
  from {
    top: 0;
    left: 0;

    background: red;
  }

  25% {
    top: 500px;
    left: 500px;

    background: blue;

    width: 100px;
  }
  50% {
    left: 0;

    background: yellow;
    width: 0px;
  }

  to {
    top: 0;
    left: 0;

    background: purple;
  }
}

.page {
  background: #ffffff;
  padding: 0 15px;
}

.page_content {
  max-width: var(--page-width);
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 80px;
  /* padding-top: 74px; */
  /* margin: 0 auto; */
}

.header {
  padding: 24px;
  border-bottom: 1px solid #dee2e6;

  display: flex;
  justify-content: space-between;
  position: sticky;
  max-width: var(--page-width);
  width: 100%;
  top: 0;
  /* left: calc(50% - (var(--page-width) / 2)); */
  background-color: var(--color-white);
  z-index: 1;
}

/* 
.header_logo {
  font-size: 17px;
} */
.logo {
  font-size: 17px;
}
.divider {
  margin: 0;
  height: 1px;
  background: #dee2e6;
}

.nav {
  display: block;
}

.nav_link {
  color: var(--color-text);
  font-size: var(--size-d);
  text-decoration: none;
  line-height: 100%;
  transition-property: color;
  transition-duration: 1s;
}

.nav_link:hover {
  text-decoration: underline;
  color: var(--color-primary);
}

.nav_vertical > .nav_link {
  display: block;
}

.nav_inline > .nav_link:not(:last-child) {
  margin-right: 24px;
}

.nav_vertical > .nav_link:not(:last-child) {
  margin-bottom: 12px;
}

.header_nav_right {
  margin-left: auto;
  width: fit-content;
}
.page_block:not(:last-child) {
  margin-bottom: 80px;
}

.footer {
  padding: 24px 0;
  border-top: 1px solid #dee2e6;
  display: flex;
  justify-content: space-between;
}

.footer_copyright {
  font-size: 14px;
  color: #6c757d;

  display: block;

  margin-top: 12px;
}

.footer_title {
  font-size: 20px;
  color: #212529;

  display: block;
  margin-bottom: 12px;
}

.hero_title {
  font-size: 56px;
  color: #fff;
  font-weight: 500;
  margin-bottom: 12px;
}

.hero_text {
  color: #fff;
  font-size: 20px;
  max-width: 585px;
  line-height: 150%;
}

.hero {
  background: #343a40;
  border-radius: 24px;
  padding: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;

  text-align: center;
}
@layer main {
  .button {
    text-decoration: none;
    color: #fff;
    max-width: 248px;
    width: 100%;
    display: inline-block;
    font-size: 16px;
    padding: 10px 20px;
    background: #007bff;
    border-radius: 4px;
    text-align: center;
    transition: opacity 1s, background-color 1s;

    transition-property: opacity, background-color, color;
    transition-duration: 1s;
  }

  .button:hover {
    opacity: 0.7;
    background-color: yellow;
    color: red;
  }
}
@layer component {
  .card_button {
    color: var(--color-white);
    background-color: var(--color-primary);
  }
}
.preview {
  padding: 24px;
  border-radius: 24px;
  border: 1px solid #dee2e6;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.05);
}

.preview_header > span:not(:last-of-type) {
  margin-right: 12px;
}

.preview_date {
  color: #6c757d;
  font-size: 16px;
}

.preview_category {
  font-size: 16px;
}
.preview_category_4 {
  color: #ff7a00;
}
.preview > *:not(:last-child) {
  margin-bottom: 12px;
}

.preview_title {
  display: block;

  color: #343a40;

  font-weight: 500;
  font-size: 28px;
}

.preview_description {
  color: #212529;
  font-size: 16px;
}

.preview_category_1 {
  color: #007bff;
}
.preview_category_2 {
  color: #198754;
}
.preview_category_3 {
  color: #ff0000;
}
.preview_category_4 {
  color: #ff7a00;
}

.list_title {
  font-weight: 500;
  font-size: 32px;
  color: #212529;
  margin: 0;
}

.list_header {
  padding-bottom: 12px;
  border-bottom: 1px solid #dee2e6;
  margin-bottom: 40px;

  display: flex;
  justify-content: space-between;
}

.category_button {
  font-size: 16px;
  color: #6c757d;

  padding: 10px 16px;
  border-radius: 40px;
  border: 1px solid #6c757d;

  line-height: 100%;
}

.category_button:hover {
  background: #6c757d0c;
}

.list-aside {
  margin-left: 40px;
}

.category_list {
  text-align: right;
}

.list > *:not(:last-child) {
  margin-bottom: 40px;
}

.post {
  padding-bottom: 12px;
  border-bottom: 1px solid #dee2e6;
}
.post > *:not(:last-child) {
  margin-bottom: 12px;
}

.post_title {
  display: block;
  font-weight: 500;
  font-size: 27px;
  color: #212529;
}

.post_info {
  color: #999999;
  font-weight: 400;
  font-size: 16px;
}

.post_author {
  color: #0050ff;
}

.post_description {
  font-weight: 400;
  font-size: 16px;
  color: #212529;
}

.list_aside > *:not(:last-child) {
  margin-bottom: 24px;
}

.about {
  background: #f8f9fa;
  padding: 24px;
}

.about_title {
  color: #212529;
  font-weight: 500;
  font-size: 20px;
}

.about_text {
  color: #212529;
  font-weight: 400;
  font-size: 14px;

  line-height: 170%;
}

.link-list {
  padding: 24px;
}

.link_title {
  display: block;
  font-weight: 500;
  font-size: 24px;
}

.link-list > :not(:last-child) {
  margin-bottom: 12px;
}

.link-item {
  display: block;
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
  color: #007bff;
}

.link-item:hover {
  text-decoration: underline;
}
.flex-container {
  display: flex;
  flex-direction: row;

  flex-wrap: wrap;
  justify-content: center;
  align-content: space-between;
  align-items: stretch;
  /* height: 900px; */
  /* border: 1px solid red; */
  gap: 24px;
}

.flex-item {
  /* width: 50%; */
  flex-basis: calc(50%- (24px / 2));
  /* margin: 15px; */
  /* flex-grow: 1; */
}
.flex-item:first-of-type {
  /* margin-right: 24px;
  margin-bottom: 24px; */

  align-self: flex-end;
  flex-shrink: 5;
  /* flex-grow: 2; */
  /* flex-basis: calc(50% - 24px); */
}
.flex-item:nth-of-type(2) {
  /* margin-bottom: 24px; */
}
.flex-item:nth-of-type(3) {
  background: red;
  order: -1;
  /* margin-right: 24px; */
  /* flex-grow: 2; */

  /* flex-basis: calc(50% - 24px); */
}

/* .hero {
  position: relative;
} */
.form_content {
  display: flex;
  flex-direction: column;
  gap: var(--space-m);
}
.form_title {
  font-size: 27px;
  font-weight: var(--weight-text);
  color: var(--color-white);
}
.form_info {
  font-size: var(--size-d);
  font-weight: var(--weight-text);
  color: var(--color-white);
}
.form_button {
  background-color: var(--color-white);
  width: 100%;
  color: var(--color-text);
  max-width: 160px;
}
/* .hero_image {
  position: absolute;
  right: 0;
  top: 106%;
}
.hero {
  position: relative;
} */
.hero_slider_icon {
  background: var(--color-primary);
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--border-radius);
  color: var(--color-white);
  position: absolute;
  top: calc(50%-15px);
}
.hero_slider_icon:hover {
  opacity: 0.5;
  cursor: pointer;
}
.hero_slider {
  position: relative;
}
.hero_slider_left {
  left: var(--space-l);
}
.hero_slider_right {
  right: var(--space-l);
}

.modal {
  position: fixed;
  top: 200px;
  left: 200px;

  /* height: 100px; */
  width: 600px;
  background: black;
  color: #fff;
  padding: 24px;
  border-radius: 24px;
  line-height: 150%;
  z-index: 2;

  /* transition-property: top;
  transition-duration: 3s;
  transition-timing-function: cubic-bezier(
    -0.6 -0.04 0.98 0.335
  );
  transition-delay: 3s; */
}

.modal {
  animation-name: fly;
  animation-duration: 4s;
  animation-timing-function: cubic-bezier(
    0.92,
    0,
    0.91,
    0.66
  );
  animation-delay: 3s;

  /* animation-iteration-count: infinite; */

  animation-direction: alternate;

  animation-fill-mode: both;
}
body:hover .modal {
  animation-play-state: paused;
}
.modal_image {
  height: 600px;
  width: 700px;
  float: left;
  margin-right: 12px;
  margin-top: 12px;
  object-fit: scale-down;
  background-color: aqua;
  object-position: 10px 10px;
}

.modal_text {
  clear: both;
}

.hero {
  user-select: none;
}
.input {
  caret-color: var(--color-primary);
  border: 1px solid var(--color-title);
}

:root {
  scroll-behavior: smooth;
}

.blog {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

@media all and (width <= 600px) {
  .blog {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media all and (600px < width <= 800px) {
  .blog {
    grid-template-columns: repeat(2, 1fr);
  }
}
/* @media all and (min-height: 600px) {
  .page_content {
    background: red;
  }
} */
.form {
  gap: var(--space-l);
}
@media all and (width <= 560px) {
  .form {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
  .form_info {
    max-width: 300px;
    width: 100%;
    line-height: 150%;
  }
  .form_content {
    align-items: center;
    text-align: center;
  }
}
.hero_container {
  container-type: inline-size;
  container-name: hero;

  /* height: 500px; */
}

@container hero (width < 960px) {
  .hero {
    flex-direction: column;
  }
}
@layer style {
  .card_button {
    background: red;
  }
}
@layer main {
  .card_button {
    background: yellow;
  }
}
.ex {
  display: inline-block;
  font-size: 1.5em;
  margin-left: 2ex;

  line-height: 1.5em;
}
/* .test {
  position: fixed;
  background: red;
  top: 0;
  left: 0;
  height: 100vmax;
  width: 100vmax;
  z-index: 9999;
} */
.hero_title {
  font-size: 5vw;
}
