/* Reset some default styles */
body,
h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

/* Global styles */
body {
  font-family: 'Arial', sans-serif;
  font-size: 16px;
  line-height: 1.6;
  background-color: #111827;
  color: #333;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

/* Header styles */
.header_dark {
  padding-top: var(--space-m, 12px);
  display: flex;
  flex-direction: column;
  gap: var(--space-m, 12px);
  color: var(--color-white, #ffffff);
  max-width: var(--page-width, 1150px);
  width: 100%;
}
.header_dark_links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: var(--space-m, 12px);
  border-bottom: 1px solid #202a3b;
}
.header_dark_links_brandName {
  padding: var(--space-s, 8px) var(--space-m, 12px);
  border-radius: var(--border-radius-m, 10px);
  background-color: var(--color-accent, #885ffb);
  min-width: 56px;
  text-align: center;
  color: var(--color-white, #ffffff);
  font-size: var(--space-s, 14px);
  font-weight: 700;
}
.header_dark_link_list {
  display: flex;
  gap: var(--space-l, 24px);
}
.header_dark_link_list > a {
  color: var(--color-white, #ffffff);
  font-size: var(--size-d, 16px);
  font-weight: var(--weight-text, 400);
  text-decoration: none;
  transition-property: opacity;
  transition-duration: 1s;
}
.header_dark_link_list > a:hover {
  opacity: 0.5;
}
.header_dark_info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.ad {
  display: flex;
  align-items: center;
  gap: 6px;
}
.ad > span {
  color: var(--color-accent #885ffb);
  font-size: var(--size-s, 14px);
  font-weight: 700;
  padding: 2px 6px;
  border-radius: var(--border-radius-s, 4px);
  background-color: rgba(136, 95, 251, 0.2);
}
.ad > p {
  color: var(--color-white, #ffffff);
  font-size: var(--size-s, 14px);
  font-weight: var(--weight-text, 400);
}
.users > p {
  color: var(--color-white #ffffff);
  font-size: var(--size-s, 14px);
  font-weight: var(--weight-text, 400);
}
/* Navigation styles */
nav {
  margin-top: 20px;
}

nav a {
  text-decoration: none;
  margin-right: 20px;
  color: #333;
}

/* Hero section styles */
.hero {
  background-image: url('path/to/hero-background-image.jpg');
  background-size: cover;
  color: #fff;
  text-align: center;
  padding: 100px 0;
}

.hero h1 {
  font-size: 36px;
  font-weight: bold;
}

.hero p {
  font-size: 18px;
  margin-top: 20px;
}

.hero button {
  background-color: #28a745; /* Green color */
  color: #fff;
  padding: 10px 20px;
  font-size: 18px;
  text-decoration: none;
  border: none;
  cursor: pointer;
}

/* About section styles */
.about {
  padding: 50px 0;
}

.about h2 {
  font-size: 30px;
  font-weight: bold;
}

.about p {
  margin-top: 20px;
}

/* Articles section styles */
.articles {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 30px;
}

.article {
  width: calc(33.333% - 20px);
  margin-bottom: 20px;
  overflow: hidden;
}

.article img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.article h3 {
  font-size: 20px;
  font-weight: bold;
}

.article p {
  margin-top: 10px;
}

/* Footer styles */
footer {
  background-color: #333;
  color: #fff;
  padding: 20px 0;
  text-align: center;
}

.footer-copyright {
  font-size: 14px;
}

.footer-pages {
  margin-top: 10px;
}

.footer-pages a {
  color: #fff;
  margin-right: 10px;
}
